body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
height: 100vh;
    background: url(images/photo1.jpg);
    background-size: cover;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
padding-left: 20px;
}

.holder{
}

.entry{
    background: rgba(59, 74, 107, .4);
    padding: 10px;
}

#entryHolder{
    color: aliceblue
}

#date{

}

#temp{

}

#content{

}

.headline {
    text-align: center;
    font-size: 49px;
    color: #ebda0ee8;
}
.title{
    color: chocolate;
}
#error{
    background: #dd3434b0;
    width: 300px;
}
/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 30px;
    color: #db8124
}

input{
    display: block;
    height: 60px;
    width: 410px;
    background: #909fa3a1;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
}

button{
    width: 250px;
    height: 30px;
    background: #901d1d;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    cursor: pointer;
    border-radius: 5px;
}
h1{
    font-size: 36px;
}

textarea{
    background: #7c9da7c7;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border-radius: 5px;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 